.snowflake {
  position: fixed;
  top: -10px;
  color: white;
  pointer-events: none;
  animation-name: fall;
  animation-timing-function: linear;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
